.coffee-banner{
  width: 120%;
  height: 120%;
  margin-top: -60%;
 transform: rotate(-20deg);
 margin-left: 40%;
}
.banner-title{
  background: rgb(70,49,35);
  background: linear-gradient(90deg, rgba(70,49,35,1)0%,  rgb(109, 75, 50) 30%, rgb(136, 97, 71) 43%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.banner-text{
  background: rgb(70,49,35);
  background: linear-gradient(90deg, rgba(70,49,35,1)0%,  rgb(109, 75, 50) 30%, rgb(136, 97, 71) 43%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.banner-paragraf{
  color: rgb(109, 75, 50);
  font-size: 30px;
  font-style: bold;
  
}
.btn-sale{
  width: 13%;
  height: 50px;
  margin-top: -190px;
  border-radius: 18px;
  color: white;
  background-color:#3a2414;
  border: none;
}
.btn-log{
  font-size: x-large;
  width: 15%;
  height: 50px;
  margin-top: -190px;
  border-radius: 18px;
  color:#3a2414;;
  border: 1px solid  #3a2414;
  outline: auto;
  outline-color: #3a2414;
  margin-left: 5px;

}